#cityNameInput {
    margin-bottom: 10px;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #581845;
}

#sendButton {
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #1b869e;
    color: white;
    cursor: pointer;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('PastelGreen.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    filter: blur(10px);
    /* Adjust the blur amount by changing the value */
    z-index: -1;
    /* Ensure the pseudo-element is placed behind the content */
}

body {
    position: relative;
}