body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('pastelBlue.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    filter: blur(10px);
    /* Adjust the blur amount by changing the value */
    z-index: -1;
    /* Ensure the pseudo-element is placed behind the content */
}