<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/weather.css">
    <link rel="stylesheet" type="text/css" href="/home.css">
</head>

<body>
    <%- include ('../partials/header') %>
        <%- include ('../partials/menu') %>

            <main>
                <div class="container">
                    <input type="text" id="cityNameInput" placeholder="Take me to..." />
                    <button id="sendButton">Get Weather</button>
                    <div id="temp"></div>
                    <div id="temp_max"></div>
                    <div id="temp_min"></div>
                    <div id="sunrise"></div>
                    <div id="sunset"></div>
                    <script src="/main.js"></script>

                    <!-- Add this inside the body of home.ejs -->
                    <div id="weekly-data"></div>


                    <div id="hotels" class="hotels-container">

                    </div>
                </div>
            </main>
            <%- include ('../partials/footer') %>
</body>

</html>