<link rel="icon" href="whitePLane.png">
<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="stylesheet" type="text/css" href="/logout.css">
        <link rel="icon" href="whitePLane.png">

        <div class="logout-background"></div>
        <main>
            <div class="container">
                <!-- THE REST OF YOUR HTML CODE GOES HERE -->
                <div class="logout-message">
                    <h1>
                        <center>Logged out successfully!!</center>
                    </h1>
                </div>
            </div>
        </main>

        <%- include ('../partials/footer') %>