<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>
    <link rel="stylesheet" type="text/css" href="/style.css">

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1><center>Logged out successfully!!</center></h1>
  </div>
</main>

<%- include ('../partials/footer') %>