<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trips</title>

    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/weather.css">
    <link rel="stylesheet" type="text/css" href="/home.css">
    <link rel="stylesheet" type="text/css" href="/share.css">
    <link rel="stylesheet" type="text/css" href="/hotels.css">


</head>

<body>
    <%- include ('../partials/header') %>
        <%- include ('../partials/menu') %>
            <main>
                <div class="container">

                    <% if (hotels.length > 0) { %>
                        <h1>Here are your details for the trip!</h1>
                        <% hotels.forEach(hotel => { %>
                            <div class="hotel">
                                <p>
                                    <%= hotel.hotelName %>
                                </p>
                                <p>
                                    <%= hotel.hotelURL %>
                                </p>
                                <textarea id="tripDateInput" placeholder="Add notes (Trip date, activities)"></textarea>
                            </div>

                            <% }) %>
                                <% } else { %>
                                    <div id="cartHotelData">No hotels saved. Head to the home page to find some</div>
                                    <% } %>

                                        <button id="share-trip-button">Share Trip</button>
                                        <button id="instagram-button" style="display:none">Instagram</button>
                                        <button id="facebook-button" style="display:none">Facebook</button>
                                        <button id="twitter-button" style="display:none">Twitter</button>
                </div>
                <script>
                    const shareTripButton = document.getElementById("share-trip-button");
                    // const instagramButton = document.getElementById("instagram-button");
                    const facebookButton = document.getElementById("facebook-button");
                    const twitterButton = document.getElementById("twitter-button");
                    let isButtonsVisible = false; // initially, buttons are not visible
                    shareTripButton.addEventListener("click", () => {
                        if (isButtonsVisible) { // if buttons are visible, hide them
                            // instagramButton.style.display = "none";
                            facebookButton.style.display = "none";
                            twitterButton.style.display = "none";
                            isButtonsVisible = false; // update the state
                        } else { // if buttons are hidden, show them
                            // instagramButton.style.display = "inline-block";
                            facebookButton.style.display = "inline-block";
                            twitterButton.style.display = "inline-block";
                            isButtonsVisible = true; // update the state
                        }
                    });
                    // instagramButton.addEventListener("click", () => {
                    //     const instagramLink = "https://www.instagram.com/accounts/login/";
                    //     window.open(instagramLink, "_blank");
                    // });
                    facebookButton.addEventListener("click", () => {
                        const url = 'http://recitation-014-team-07.eastus.cloudapp.azure.com:3000/trips';
                        const facebookURL = `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(url)}`;
                        window.open(facebookURL, '_blank');
                    });
                    twitterButton.addEventListener("click", () => {
                        const text = 'Check out my trip!';
                        const url = 'http://recitation-014-team-07.eastus.cloudapp.azure.com:3000/trips';
                        const twitterURL = `https://twitter.com/intent/tweet?text=${encodeURIComponent(text)}&url=${encodeURIComponent(url)}`;
                        window.open(twitterURL, '_blank');
                    });
                </script>


                </div>
            </main>
</body>

</html>