<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trips</title>

    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/weather.css">
    <link rel="stylesheet" type="text/css" href="/home.css">
    <script src="/main.js"></script>

</head>

<body onLoad="loadTrips()">
    <%- include ('../partials/header') %>
        <%- include ('../partials/menu') %>
            <main>
                <div class="container">
                    <div id="cart-container"></div>
                    <div id="cartHotelData">Trips could not load</div>
                </div>
            </main>
            <%- include ('../partials/footer') %>
</body>

</html>